
h1{color:white;
    text-align: left;
    font-size: 36px;
    margin-top: 20px;
    font-family: Helvetica, sans-serif;
}
h2{color:white;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    font-family: Helvetica, sans-serif;
}
body { background-color: black;
    font-family: Helvetica, sans-serif;
    color: white;
    text-align: center;
    
}